
<p-drawer [(visible)]="drawerOpen" position="top" class="md:hidden">
    <ng-template #headless>
        
        <ul class="flex flex-col gap-4 p-4 text-yellow-500 bg-[#0C0A0A] h-auto ">
            <div class="flex items-center justify-between">
                <span class="text-2xl">
                    Cineland
                </span>
                <button pButton icon="pi pi-times" style="font-size: 1.5rem" class="p-button-text text-white" (click)="drawerOpen = false"></button>
            </div>
            <mat-divider class="w-[70%] self-center !border-t-[#FAA602] !border-t-[1px]"></mat-divider>
            <div class="flex flex-col justify-center items-center gap-5 text-xl h-full">
                <li><a href="#" (click)="drawerOpen = false">Filmes</a></li>
                <mat-divider class="w-[70%] self-center !border-t-[#FAA602] !border-t-[1px]"></mat-divider>
                <li><a href="#" (click)="drawerOpen = false">Séries</a></li>
                <mat-divider class="w-[70%] self-center !border-t-[#FAA602] !border-t-[1px]"></mat-divider>
            </div>
        </ul>
    </ng-template>
</p-drawer>

<p-menubar class="text-yellow-500 hidden md:flex py-1 bg-[#0C0A0A] absolute w-full" [model]="items">
    <ng-template #start>
        <div class="text-4xl font-thin text-yellow-500">
            Cineland
        </div>
    </ng-template>
    <ng-template #item let-item let-root="root" class="">
        <div class="pl-10 text-xl">
            <a class="flex items-center p-menubar-item-link">
                <span>{{ item.label }}</span>
            </a>
        </div>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-4 pr-4">
            <div class="flex items-center gap-2 order-2">
                <button pButton icon="pi pi-sign-in" class="p-button-text">
                    <span class="pl-2">Entrar</span>
                </button>
            </div>
            <button pButton icon="pi pi-search" class="p-button-text" (click)="searchOpen = !searchOpen"></button>
            <input *ngIf="searchOpen" type="text" class="bg-gray-800 text-white p-1" [pAutoFocus]="true" #searchInput/>
        </div>
    </ng-template>
</p-menubar>

<div class="flex lg:hidden items-center justify-between px-4 py-3 bg-[#0C0A0A] text-yellow-500 relative ">
    <button pButton icon="pi pi-bars" class="p-button-text" (click)="drawerOpen = true"></button>
    <div class="flex gap-5">
        <button pButton icon="pi pi-user" class="p-button-text"></button>
        <button pButton icon="pi pi-search" class="p-button-text " (click)="searchOpen = !searchOpen"></button>
        <input *ngIf="searchOpen" type="text" class="bg-gray-800 text-white p-1" [pAutoFocus]="true" #searchInput/>
    </div>
</div>
