<div class="pl-4 pt-2 absolute flex flex-row justify-between w-full">
    <span class="text-4xl text-white font-thin">
        CineLand
    </span>

    <div class="flex flex-row gap-4 mr-5">
        <div class="flex flex-row items-center text-gray-500 bg-white rounded-md">
            <mat-icon class="icon text-center">search</mat-icon>
            <input type="search" class="w-[300px] focus:outline-none" placeholder="O que você está procurando?">
        </div>
        <button class="bg-black text-white px-4 rounded-md">Sign In</button>
    </div>
</div>