.banner{
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #0C0A0A), url(/bannerIMG.png) no-repeat center center;
    background-size: cover;
}

.scrollbar{
    scrollbar-color: rgb(30, 30, 30) rgb(22, 22, 22);
    scrollbar-width: thin;
    width: 98%;
}